.graph-2D {
  margin: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .node circle {
    cursor: pointer;
  }

  .node text {
    fill: white;
    font: 12px sans-serif;
    pointer-events: none;
    text-anchor: middle;
  }

  line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
  }

  line.link.out {
    stroke: red;
  }

  line.link.in {
    stroke: green;
  }
}
