/* CSS declarations go here */
body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#main-graph {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: width 1s, height 1s, bottom 1s, right 1s; /* Safari */
    transition: width 1s, height 1s, bottom 1s, right 1s;
}

.main-graph-container.mini #main-graph {
    bottom: 25px;
    right: 25px;
    width: 400px;
    height: 200px;
    z-index: 1;
    margin-left: 25px;
}

.main-graph-container .mini-click-handler {
    bottom: 25px;
    right: 25px;
    position: absolute;
    width: 0;
    height: 0;
}

.main-graph-container.mini .mini-click-handler {
    z-index: 100;
    width: 400px;
    height: 200px;
    border: solid white;
}

.main-graph-container.mini #main-graph canvas {
    bottom: 25px !important;
    right: 25px !important;
    width: 400px !important;
    height: 200px !important;
}

.main-graph-container #main-graph canvas {
    bottom: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.slider {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */
    z-index: 1000;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
    max-height: 0;
}

.search-box {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 20px;
}

.search-box + label .search-icon {
    color: black;
}

.search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
}

.search-box:hover + label .search-icon {
    color: white;
}

.search-box:focus {
    -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
}

.search-box:focus + label .search-icon {
    color: black;
}

.search-box:not(:focus) {
    text-indent: -5000px;
}

#search-submit {
    position: relative;
    left: -5000px;
}

.search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
}

#TwoDGraphContainer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    position: absolute;
}